<div id='container'>
  <div ng-controller="PostController">
  <div class='navigation'>
    <ul>
      <li><a href="#/search">Search</a></li> 
      <li><a href="#/post">Post</a></li>
      <li><a href="#" ng-click="signout()">Sign Out</a></li>
    </ul>
  </div>
    <form class="post" ng-submit="addPost(post)">
      <h2>Post a Resource</h2>
      <input class="postInfo postTitle" placeholder="Title" ng-model="post.title">
      <textarea class="postInfo postDescription" placeholder="Description" ng-model="post.description"></textarea>
      <input class="postInfo postTags" placeholder="Search Tags (comma separated)" ng-model="post.tags">   
      <input class="submitPost" type="submit" value="Post">
    </form>
  </div>
</div>