/*<================ CSS reset ==================>*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*<================ Start of custom CSS ==================>*/

* {
  box-sizing: border-box;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

body {
  background-color: #e9ece5;
}

input {
  display: block;
}

h1 {
  display: inline;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3b3a36;
  text-align: center;
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

textarea {
    max-width: 96%; 
    max-height: 96%;
}

li {
  font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.resource {
  color: #3b3a36;
}

.full {
  color: #b3c2bf;
}

.nav {
  width: 100%;
  height: 30px;
  background-color: #c0dfd9;
}

.nav-button {
  width: 100px;
  height: 20px;
  line-height: 20px;
  /*padding-top: 5%;*/
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  text-align: center;
  float: left;
}

.post {
  width: 90%;
  margin-top: 20px; 
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #b3c2bf;
  border-radius: 10px
}

.submitPost {
  width: 20%;
  margin-top: 10px;
  margin-left: 5px;
}

.postInfo {
  margin-top: 10px;
  margin-left: 5px
}

.postDescription {
  width: 80%;
  height: 150px;
}

.postTitle {
  width: 70%;
}

.postTags {
  width: 60%;
}

.searchField {
  display:inline;
  width: 20%;
}

.submitSearch {
  display: inline;
  margin-left: 7px;
}

#signin {
  margin-top: 15px;
  margin-left: 8px;
}

#signup {
  margin-top: 15px;
  margin-left: 8px;
}

.search {
  margin-top: 8px;
}

.username {
  margin-top: 5px;
}

.password {
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchResult {
  background-color: #c0dfd9;
  margin-bottom: 10px;
  width: 80%;
}

.resultsBody {
  margin-top: 10px;
  font-weight: none;
}

.resultsHeader {
  margin-top: 10px;
  font-weight: bold;
}

.resultsDiv {
  padding-top: 5px;
  padding-left: 5px;
}

