<div id='container'>
  <div ng-controller="SearchController">
  <div class='navigation'>
    <ul>
      <li><a href="#/search">Search</a></li> 
      <li><a href="#/post">Post</a></li>
    </ul>
  </div>
    <form class="search" ng-submit="findResources()">
      <input class="searchField" ng-model="search.criteria" placeholder="Search">
      <input class="submitSearch" type="submit" value="Search">
    </form>
    <ul class="searchList">
      <li class="searchResult" ng-repeat="result in data.searchResults | orderBy:'created_at'">
        <div>Title: {{result.title}}</div> 
        <div>Comment: {{result.comment}}</div>
      </li>
    </ul>
  </div>
</div>