<div id='container'>
  <div ng-controller="SearchController">
  <div class='navigation'>
    <ul>
      <li><a href="#/search">Search</a></li> 
      <li><a href="#/post">Post</a></li>
    </ul>
  </div>
    <form ng-submit="findResources()">
      <input ng-model="search.criteria" placeholder="Search">
      <input type="submit" value="Search">
    </form>
    <ul class="searchList">
      <li class="searchResult" ng-repeat="result in data.searchResults | orderBy:'created_at'">{{result.title}} , {{result.comment}}</li>
    </ul>
  </div>
</div>